name: CI

on: [push, pull_request]

jobs:
  unit-tests:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 10
      uses: actions/setup-node@v1
      with:
        version: 10
    - name: npm install
      run: |
        npm install
